<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ferremas</title>
    {%load static%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load crispy_forms_tags %}
    {%block css%}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    {%endblock%}
    <link rel="stylesheet" href="{%static 'app/css/estilos.css'%}">
</head>
<body>
<header id="header">
    <img class="menu" src="{% static  'app/img/menuiconwhite.png' %}" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <img src="{% static 'app/img/Ferremas.png' %}" alt="logo" class="logo">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'home'%}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'contacto'%}">Contácto</a>
                </li>
                <li>
                    <a href="{% url 'galeria'%}">Galería</a>
                </li>
                <li>
                    <a href="{%url 'carrito'%}">Carrito</a>
                </li>
                {% if perms.app.add_producto %}
                <li>
                    <a href="{% url 'agregar_producto'%}">Agregar Producto</a>
                </li>
                {% endif %}
                {% if perms.app.view_producto %}
                <li>
                    <a href="{% url 'listar_producto'%}">Listado Producto</a>
                </li>
                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form>
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
                    <li>
                        <a href="#">@{{user.username}}</a>
                    </li>
                    {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    <li>
                        <a href="{%url 'registro'%}">Registrate</a>
                    </li>
                    {% endif %}
                </li>
                
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">

   
   {% block contenido%}
   {%endblock%}
</div>
<footer>
    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/apple.png' %}" alt="apple" style="width: 30px;">
            <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/Ferremas.png' %}" alt="logo">
        </div>
    </footer>
</footer>
<script src="{% static 'app/js/menu.js'%} "></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     {%if messages %}
        {%for m in messages%}
            <script>
                Swal.fire({
                    "title": "Felicitaciones!",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}
{%block js%}

{%endblock%}
</body>
</html>