{%extends 'app/base.html'%}
{% block contenido %}
{%load crispy_forms_tags%}
<h2>Contactanos!</h2>
<form action="" method="post" id="formulario_contacto" method="post">
    {%csrf_token%}
    {{form}}
    <button type="submit" id="btn btn-primary">Enviar</button>
{%block js%}
<script src="js/menu.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="js/formulario_jquery.js"></script>
{%endblock%}
{%endblock%}