{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const productos = document.querySelectorAll('.producto');

    productos.forEach(producto => {
        producto.addEventListener('mouseenter', function() {
            const btnAgregar = this.querySelector('.btn-agregar');
            btnAgregar.style.display = 'inline-block';
        });

        producto.addEventListener('mouseleave', function() {
            const btnAgregar = this.querySelector('.btn-agregar');
            btnAgregar.style.display = 'none';
        });

        const btnAgregar = producto.querySelector('.btn-agregar');
        const productoId = btnAgregar.getAttribute('data-producto-id');

        btnAgregar.addEventListener('click', function() {
            agregarAlCarrito(productoId);
        });
    });
});


</script>
{% endblock %}

{% block contenido %}
{% for p in productos %}
{% load humanize %}
<div class="productos">
    <div class="producto">
        <div class="contenedor">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="imagen producto">
            {% endif %}
            <a href="{% url 'Add' p.id %}" class="btn btn-primary">Agregar al carrito</a>
        <div class="detalles">
            <h5>{{ p.marca | capfirst }}</h5>
            <h2>{{ p.nombre | title }}</h2>
            <h3>${{ p.precio | intcomma }}</h3>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}